<% if session[:center_id] == nil %>
	<br>
	<%= form_for(:session, url: center_log_in_path) do |f| %>
		<%= f.label :email %>
		<%= f.search_field :email %>
		<%= f.label :password %>
		<%= f.password_field :password %>
		<%= f.submit "Log in" %>
	<% end %>
	<br>
<% else %>

	<h1>
	<%= "Welcome #{Center.find(session[:center_id]).name}. " %>
	</h1>


	<%= button_to "Logout", center_log_out_path, method: :delete %>
 	
<% end %>