
<div class="login_form">

	<% if session[:center_id] != nil %>
		<% session[:center_id] = nil %>
	<% end %>	

	<h1 class="user_login"> Center </h1>	
<br>
	<%= form_for(:session, url: center_log_in_path) do |f| %>
		<%= f.label :email %>
		<%= f.search_field :email %>
		<%= f.label :password %>
		<%= f.password_field :password %>
		<%= f.submit "Log in" %>
	<% end %>
	
</div>	