<!-- List all children and parents to select child or parent prior to update/delete page -->

<div class="title_center">
		<h3>Select Family Member</h3> 
		<h5>child&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspparent</h5>
</div>

<div class="child_index">
	<div class="reports_family">
		<% @children.each do |child| %>
			<a href="<%= edit_child_path(child.id) %>">
			<h3><%= child.fname %>
				<%= child.mname %>
				<%= child.lname %></h3>
			</a>
		<% end %>
	</div>
	<div class="reports_family">
		<% @parent.each do |parent| %>
			<a href="<%= edit_parent_path(parent.id) %>">
			<h3><%= parent.name %></h3>
			</a>
		<% end %>
	</div>
</div>
<div class="button_adjust">	
		<%= button_to "Center Home", center_path(current_center), class: 'button_c', method: :get %>
</div>

