<!-- To create a family, the admin chooses a child from this list which links the admin to the family creation page. -->

<div class="title_center">
	<h2>Select Child</h2> 
</div>
	
<div class="reports">
	<% @children.each do |child| %>

		<a href="<%= child_path(child.id) %>">
		<h3><%= child.fname %>
			<%= child.mname %>
			<%= child.lname %></h3>
		</a>

	<% end %>
</div>
<br><br>
<div id="family_button" class="center_div">
	<%= button_to "Center Home", center_path(current_center), class: 'button_c', method: :get %>
</div>