<!-- To create a family, the admin chooses a child from this list which links the admin to the family creation page. -->

<div class="title_center">
	<h4>Select Child</h> 
	<!-- <h5 id="families_index">(select child)</h5> -->
</div>
	
<div class="reports", style="margin-top: -30px">
	<% @children.each do |child| %>

		<a href="<%= child_path(child.id) %>">
		<h3><%= child.fname %>
			<%= child.mname %>
			<%= child.lname %></h3>
		</a>

	<% end %>
</div>

<div class="center_div">
	<%= button_to "Center Home", center_path(@center), class: 'button_c', method: :get %>
</div>