<!-- Admin can update or delete a class (group) from this page. -->
<br>
<div id="group_title" class="title_center">
	<h3> Class Update/Delete <h3>
</div>

<div  id="group_align" class="sign_up">
<br><br>
	<%= form_for @group do |f| %>
			<%= f.label :change_class_name %><br>
			<%= f.text_field :name %><br><br>
			<%= f.label :change_teacher %><br>
			<%= f.collection_select :teacher_id, @teachers, :id, :name, include_blank: true %><br><br>
			
			<%= f.submit "Submit Changes", :class => 'f_submit'  %>
	<% end %>
	<br><br>
	<%= button_to "Delete Class", group_path(@group.id), class: 'button_c', method: :delete %>
	<br>
	<%= button_to "Center Home", center_path(current_center), class: 'button_c', method: :get %>
	</div>
</div>

		
        