<!-- If class has no children, the text "Child list for class..." is not displayed. (this code is not being used at this time-->

<div class="title_center">
	
	<% if @group.children.first %>
		<h2><%= "Children in class: " %><%= @group.name %></h2>
	<% else %>
		<h2><%= "No children have been assigned to class: " %> <%= @group.name %></h2>
	<% end %>

	<div class="reports">
		<% @group.children.each do |child| %>
			<br>
			<%= child.fname %>
			<%= child.mname %>
			<%= child.lname %>
		<% end %>
	</div>
	<%= button_to "Center Home", center_path(@center), class: 'button_c', method: :get %>
</div>