


<div id="meal_form">

<h1> Meal Accounting </h1>

<%= form_tag group_meals_path(@group) do %>
	<%= date_select(date = @date, options = {default: Date.today}, html_options = {}) %>
	<%= submit_tag "Select Meals Date" %>
<% end %>
<br>

<% @group.children.each do |child| %>
	
	<br>
	<% if child.meals.where(meal_date: @date).first %>
		<% @meal = child.meals.where(meal_date: @date).first %>
	<% else %>
		<% @meal = Meal.new %>
	<% end %>
	<%= form_for @meal do |f| %>
	<%= f.hidden_field :meal_date, value: @date %>
	
		<%= child.fname %>
		<%= child.mname %>
		<%= child.lname %>

		<%= f.check_box(:breakfast)%>
		<%= label_tag(:breakfast, "Breakfast") %>

		<%= f.check_box(:am_snack) %>
		<%= label_tag(:am_snack, "AM Snack") %>

		<%= f.check_box(:lunch) %>
		<%= label_tag(:lunch, "Lunch") %>

		<%= f.check_box(:pm_snack) %>
		<%= label_tag(:pm_snack, "PM Snack") %>

		<%= f.check_box(:supper) %>
		<%= label_tag(:supper, "Supper") %>

		<%= f.check_box(:late_snack) %>
		<%= label_tag(:late_snack, "Late Snack") %>

		<%= f.hidden_field :child_id, :value => child.id %>
		<%= f.button :submit %>
		<br>
	<% end %>
<% end %>
<br>
<%= button_to "Logout", teacher_log_out_path, method: :delete %>
</div>