<!-- This report counts the number of meals for each child by meal type.  The child is dropped from the report if no meals on record. -->

<div class="title_center"> 
	<h2> Meal Counts by Child </h2>
</div>
<br>
<div class="reports">
	<% @children.each do |child| %>

	<% @breakfast = 0 %>
	<% @am_snack = 0 %>
	<% @lunch = 0 %>
	<% @pm_snack = 0 %>
	<% @supper = 0 %>
	<% @late_snack = 0 %>
	<% @total_meals = 0 %>
		<% child.meals.each do |meal| %>
			<% if meal.breakfast %>
				<% @breakfast += 1 %>
				<% @total_meals += 1 %>
			<% end %>
			<% if meal.am_snack %>
				<% @am_snack += 1 %>
				<% @total_meals += 1 %>
			<% end %>
			<% if meal.lunch %>
				<% @lunch += 1 %>
				<% @total_meals += 1 %>
			<% end %>
			<% if meal.pm_snack %>
				<% @pm_snack += 1 %>
				<% @total_meals += 1 %>
			<% end %>
			<% if meal.supper %>
				<% @supper += 1 %>
				<% @total_meals += 1 %>
			<% end %>
			<% if meal.late_snack %>
				<% @late_snack += 1 %>
				<% @total_meals += 1 %>
			<% end %>
		<% end %>

		<% if @total_meals != 0 %>
			<h3>
			<%= child.fname %>
			<%= child.mname %>
			<%= child.lname %>
			</h3>
			<%= "Breakfast:" %> 
			<%= @breakfast %>
			<%= "AM Snack:" %>
			<%= @am_snack %>
			<%= "Lunch:" %>
			<%= @lunch %>
			<%= "PM Snack:" %>
			<%= @pm_snack %>
			<%= "Supper:" %>
			<%= @supper %>
			<%= "Late Snack:" %>
			<%= @late_snack %>
			<br>
		<% end %>
	<% end %>
</div>
<br><br>
<div id="meals_rpt_button" class="center_div">
	<%= button_to "Center Home", center_path(current_center), class: "button_c", method: :get %>
</div>