<!DOCTYPE html>
<html>
	<head>

		  <title>DayCare</title>
		  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		  <%= csrf_meta_tags %>
		    
		  <meta charset="utf-8">
		  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
		  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		  <link rel="stylesheet" href="/resources/demos/style.css">
		 
		  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />

	</head>

<body>
<!-- All negative messages are 'alerts' that display on the left side of the page.  'notices' are positive messages that appear on the right side of the page. -->
	<% if flash[:alert] %>
		<div class="alert">
			 <%= flash[:alert] %>
		</div>
	<% end %>
	<% if flash[:notice] %>
		<div class="notice">
			 <%= flash[:notice] %> 
		</div>
	<% end %>

	<div class="backimg">
		<img id="back_hand" src="/assets/crayons.jpg">
	</div>

	 <%= yield %>

	</body>
</html>
